* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
}

.container {
    position: relative;
    width: 400px;
    height: 500px;
    background-color: #000;
    box-shadow: 0 0 70px #7f047f;
    border-radius: 20px;
    padding: 50px;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

span {
    font-size: 30px;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #fff;

    > label {
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: 0.5s;
    }

    > input {
        width: 320px;
        height: 40px;
        font-size: 16px;
        color: #fff;
        padding: 0 5px;
        background: transparent;
        border: none;
        outline: none;
    }
}

.input-group input:focus~label,
.input-group input:valid~label {
    top: -5px;
}

button {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #7f047f;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 30px;
    border: none;
    transition: 0.5s;
}

button:hover {
    box-shadow: 0 0 30px #7f047f;
}

.signUp-link {
    font-size: 14px;

    text-align: center;
    margin: 15px 0;

    > span {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        
        > a {
            color: #7f047f;
            text-decoration: none;
            transition: 0.5s;
        }

        > a:hover {
            text-decoration: underline;
            font-size: 16px;
        }
    }
}